.alert-banner {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;

  background-color: #efefef;
  padding: 20px 30px;

  @media (min-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .is-dark-mode & {
    background-color: rgb(20,20,20);
  }

  .alert-banner__message {
    padding-right: 20px;
  }

  .buttons {
    display: block;
    margin: 0 !important;
    margin-top: 10px !important;

    @media (min-width: $mobile-breakpoint) {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      margin: 0 !important;
    }
  }

  .button {
    width: auto;
    padding: 5px 20px;
    border-radius: 5px;

    @media (min-width: $mobile-breakpoint) {
      flex: 1 1 calc(50% - 10px);
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &.is-ghost {
      background: transparent;
      margin-right: 10px;

      &:hover,
      &:focus {
        color: black;
      }
    }
  }
}