//========================================
//  Buttons
//========================================
.button {
  padding: 0.8rem 2.4rem;
  height: 46px;
  font-size: $body-font-size;
  border-radius: 0;

  @media(max-width: $mobile-breakpoint) {
    width: 100%;
  }

  .icon {
    width: auto;
    height: auto;
    font-size: 2.8rem;

    &:first-child {
      margin-left: calc(-.375em - 1px);
      margin-right: 1.0rem !important;
    }
  }

  .is-dark-mode & {
    background-color: $secondary-color;
  }

  &:focus {
    box-shadow: none;
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 4px;
  }

  // Light ------------------------------------------
  &.is-light {
    background-color: $secondary-color;
    color: $body-text-color;

    .is-dark-mode & {
      background-color: $secondary-color--dark;
      color: $body-text-color--dark;
    }

    &:hover,
    &:focus {
      color: $body-text-color-bold;
      box-shadow: none !important;

      .is-dark-mode & {
        color: $body-text-color-bold--dark;
      }
    }
  }

  // Dark -------------------------------------------
  &.is-dark {
    background-color: $background-color--dark;
    color: $body-text-color-bold--dark;

    .is-dark-mode & {
      border: 1px solid white;
    }

    &:hover,
    &:focus {
      background-color: lighten($background-color--dark, 10%);
    }
  }

  // Ghost ------------------------------------------
  &.is-ghost {
    border: 2px solid $body-text-color-bold;
    border-radius: 0;
    background-color: $background-color;
    color: $body-text-color-bold;
    font-weight: $body-bold-weight;
    padding: 10px 25px;

    .is-dark-mode & {
      border-color: $body-text-color-bold--dark;
      background-color: $background-color--dark;
      color: $body-text-color-bold--dark;
    }

    &:hover,
    &:focus {
      background-color: $body-text-color-bold;
      color: $background-color;
      text-decoration: underline;

      .is-dark-mode & {
        background-color: $body-text-color-bold--dark;
        color: $background-color--dark;
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  // Info -------------------------------------------
  &.is-info {
    background-color: #0F7BC3;

    &:hover,
    &:focus {
      background-color: darken(#0f7bc3, 10%);
    }
  }

  // Link -------------------------------------------
  &.is-link {
    background-color: #3273dc;

    &:hover,
    &:focus {
      background-color: darken(#3273dc, 10%);
    }
  }
}

.buttons {
  display: flex;
  margin: 4.2rem 0 !important;

  @media(max-width: $mobile-breakpoint) {
    flex-direction: column;
  }

  .button {
    flex: 1 1 auto;
    padding: 2.8rem 3.6rem;

    @media(max-width: $mobile-breakpoint) {
      flex: none;
      width: 100%;
      margin: 10px 0;
    }

    &:not(:last-of-type) {
      margin-right: 10px;

      @media(max-width: $mobile-breakpoint) {
        margin-right: 0;
      }
    }

    &:only-child {
      flex: none;
    }
  }
}