.content {
  transition: opacity .5s ease;

  // Add padding to the bottom of all .pages
  >.page {
    padding-bottom: 75px;

    >ul,
    >ol {
      @media(max-width: $mobile-breakpoint) {
        margin-left: 1.5rem;
      }
    }
  }

  // Inactive state for mobile menu 'open' effect
  &.is-inactive {
    opacity: .3;
  }

  // Underline all links
  a {
    text-decoration: underline;
  }

  // Soften colors of all body text
  p,
  li,
  .details {
    color: $body-text-color;
  }

  // Increase indent of lists
  ul,
  ol {
    margin-left: 3rem;

    li {
      padding-left: .25rem;

      ul,
      ol {
        margin-top: 0;
      }
    }
  }

  .tag {
    &.is-light {
      color: $body-text-color;
    }
  }

  a.tag.is-light:hover {
    background-color: rgba(0, 0, 0, .6);
    color: white;
  }

  .message {
    &.is-info {

      .message-body,
      .message-body p {
        color: darken(#209cee, 20%);
      }
    }
  }
}