.gallery {
  margin-top: 50px;
  margin-left: -$media-breakout-offset;
  width: calc(100% + #{$media-breakout-offset}*2);

  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $tablet-breakpoint) {
    margin-left: 0;
    width: 100%;
  }

  dl.gallery-item {
    margin: 0 1px 1px 0;

    dt.gallery-icon {
      a {
        display: block;
        position: relative;

        img {
          display: block;
          width: 100%;
          height: auto;
          border: 1px solid rgba(0,0,0,.1);
        }

        &:after {
          content: '';
          transition: all .1s linear;
        }

        &:hover,
        &:focus {
          box-shadow: none;
        }

        &:hover {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.6);
          }
        }

        &:focus {
          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            box-shadow: inset 0 0 0 5px hsl(204, 86%, 53%);
          }
        }
      }
    }

    dd.gallery-caption {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 30px;
      font-style: italic;
      color: $body-text-color;
    }
  }

  // 1 column
  &.single-wide a img,
  &.gallery-columns-1 dl {
    flex: 0 0 100%;
  }

  // 2 columns
  &.two-wide a img,
  &.gallery-columns-2 dl {
    flex: 0 0 calc(100%/2 - 1px);

    @media screen and (max-width: $mobile-breakpoint) {
      flex: 0 0 100%;
    }
  }

  // 3 columns
  &.three-wide a img,
  &.gallery-columns-3 dl {
    flex: 0 0 calc(100%/3 - 1px);

    @media screen and (max-width: $mobile-breakpoint) {
      flex: 0 0 100%;
    }
  }

  // 4 columns
  &.four-wide a img,
  &.gallery-columns-4 dl {
    width: calc(100%/4 - 1px);

    @media screen and (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }

  // 5 columns
  &.five-wide a img,
  &.gallery-columns-5 dl {
    width: calc(100%/5 - 1px);

    @media screen and (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }

  // 6 columns
  &.six-wide a img,
  &.gallery-columns-6 dl {
    width: calc(100%/6 - 1px);

    @media screen and (max-width: $mobile-breakpoint) {
      width: 100%;
    }
  }

  //==================================================================================
  //  Tighten up whitespace for adjacent (following) siblings
  //==================================================================================
  // Multiple galleries
  & + .gallery {
    margin-top: 0;
    margin-bottom: 0;
  }

  // Embedded media (like YouTube videos) following galleries
  & + .embed-responsive {
    margin-top: 0;
    margin-bottom: 0;
  }

  & + p {
    margin-top: 40px;
  }
}

img[class*="wp-image"].has-border {
  border: 1px solid rgba(0,0,0,.2);
}

.is-full-width {
  margin-left: -$media-breakout-offset;
  width: calc(100% + #{$media-breakout-offset}*2);
  max-width: none;

  @media screen and (max-width: $tablet-breakpoint) {
    margin-left: 0;
    width: 100%;
  }
}