body {
  & > header {
    width: $content-width-desktop;
    margin: 0 auto;
    padding: 40px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $tablet-breakpoint) {
      width: 90%;
      padding-top: 20px;
    }

    // "Jason Webb" on left
    .name {
      font-size: 32px;
      font-weight: 700;
      color: rgba(0,0,0,.9);
      flex: 0 auto;
    }

    & > nav {
      flex: 0 auto;
      margin-top: 10px;

      @media screen and (max-width: $tablet-breakpoint) {
        display: none;
      }

      ul {
        display: inline-block;
        margin: 0;

        li {
          display: inline-block;
          margin-bottom: 0;

          a {
            color: rgba(0,0,0,.54);
            transition: .1s color linear;

            &:hover,
            &:focus {
              color: #2a6cd8;
            }
          }
        }
      }

      // Social media icons
      .social {
        margin-right: 10px;
        padding-right: 30px;
        border-right: 1px solid rgba(0,0,0,.15);

        li {
          padding: 0;

          a {
            color: rgba(0,0,0,.54);
            font-size: 28px;
            padding: 5px;
          }
        }
      }

      // Page links
      .pages {
        position: relative;
        top: -3px;

        li {
          margin-right: 10px;

          &:last-of-type {
            margin-right: 0;
          }

          // Current page indicator (matches hover/focus styles)
          &[aria-current="page"] a {
            color: #2a6cd8;

            span {
              border-bottom: 1px dashed #2a6cd8;
            }
          }

          a {
            padding: 5px 10px;

            &:hover span,
            &:focus span {
              border-bottom: 1px dashed #2a6cd8;
            }
          }
        }
      }
    }

    .hamburger-icon {
      font-size: 36px;
      color: rgba(0,0,0,.3);
      cursor: pointer;
    }

    // Description under name
    .tagline {
      flex: 1 auto;
      margin-top: 20px;
      color: rgba(0,0,0,.54);
    }
  }
}