.home-page-announcement {
  padding: 30px;
  margin-top: 50px;

  // background: #fcf4dd;
  // color: #887747;
  border: 4px solid black;

  .is-dark-mode & {
    background: transparent;
    color: white;
    border: 3px solid #887747;
  }

  b {
    // color: #5d4f29;

    .is-dark-mode & {
      color: lighten(#887747, 10);
    }
  }

  p {
    margin: 20px 0 !important;

    &:first-of-type {
      margin-top: 0 !important;
    }

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }

  ul {
    margin: 25px 0 0 0;
    padding: 0;

    li {
      display: inline-block;
      // border: 1px solid #887747;
      border: 2px solid black;
      border-radius: 100px;
      padding: 0 16px;
      margin-bottom: 10px;
      font-size: 1.5rem;
      font-weight: 400;
      margin-right: 5px;

      .is-dark-mode & {
        color: lighten(#887747, 40);
        border-color: #887747;
      }
    }

    & + p {
      margin-top: 15px !important;
    }
  }

  .button {
    margin-top: 25px;
    text-decoration: none;
    color: white;
    border: 0;
    border-radius: 5px;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: white !important;
    }

    .is-dark-mode & {
      background: #5d4f29;
    }
  }
}