.message {
  margin: 30px 0;

  &.is-light {
    border: 0;
    border-radius: 0;
  }

  &.is-full-width {
    margin-left: -$media-breakout-offset;
    width: calc(100% + #{$media-breakout-offset}*2);
  
    @media screen and (max-width: $tablet-breakpoint) {
      margin-left: 0;
      width: 100%;
    }
  }

  .message-body {
    color: $body-text-color !important;
    border: 0;

    a {
      color: #3273dc !important;

      &:hover {
        color: black !important;
      }
    }
  }
}