.mobile-menu {
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 10;

  display: none;

  width: $mobile-menu-width;
  height: 100vh;

  background-color: black;

  transition: left .3s ease-in-out;

  // Class for 'open' state
  &.is-open {
    display: block;
    left: 0;

    .close-button-wrapper {
      top: 0;
    }
  }

  // Close button =============================================================
  .close-button-wrapper {
    position: fixed;
    left: $mobile-menu-width;
    top: -100px;
    background-color: black;
    transition: top .5s ease-in-out;

    .close-button {
      font-size: 3.6rem;
      color: white;
      background: $secondary-color--dark;
      padding: 10px;
      border: 0;
      cursor: pointer;
    }
  }

  nav {
    height: 100%;
    background-color: $secondary-color--dark;
  }

  // Scrollable inner wrapper ================================================
  .inner-wrapper {
    height: 100%;
    overflow-y: auto;
  }

  // All menus ===============================================================
  ul {
    padding: 10px 0;
    margin: 0;
    list-style: none;

    &:first-of-type {
      padding-top: 30px;
    }

    li {
      a {
        display: block;
        color: white;
        padding: 10px 30px;

        &:focus {
          outline-offset: -4px;
        }
      }
    }

    // Page links
    &.primary-pages {
      a {
        font-weight: 600;
        font-size: 2.6rem;
      }
    }

    // Social media links
    &.external-sites {
      margin-top: 10px;

      a {
        padding: 10px 30px;
        font-size: 1.8rem;
        opacity: .7;

        .fa {
          margin-right: 15px;
          font-size: 2.4rem;
          vertical-align: text-top;
        }
      }
    }
  }
}