.page {
  width: $content-width-desktop;
  margin: 0 auto 100px auto;
  color: $body-text-color;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 90%;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: 700;
    border-bottom: 1px solid $border-color;
    padding-bottom: 4px;
    margin-bottom: 30px;
    margin-top: 60px !important;
  }

  h3 {
    font-style: italic;
  }

  p {
    margin-bottom: 25px;
  }

  a {
    color: black;
    font-weight: $body-bold-weight;
    text-decoration: underline;

    &:hover {
      color: #3273dc;
    }
  }
}