.page {
  width: $content-width-desktop;
  margin: 0 auto;
  margin-bottom: 100px;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 90%;
  }

  h2 {
    font-size: 26px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 4px;
    margin-bottom: 30px;
    margin-top: 60px !important;
  }

  h3 {
    font-style: italic;
  }

  p {
    margin-bottom: 25px;
    color: rgba(0,0,0,.6);
  }

  li {
    color: rgba(0,0,0,.6);
  }

  a {
    &:hover {
      color: #3273dc;
      text-decoration: underline;
    }
  }
}