.page {
  width: $content-width-desktop;
  margin: 0 auto;
  margin-bottom: 150px;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 90%;
  }

  h2 {
    font-size: 2.6rem;
    font-weight: 700;
    border-bottom: 1px solid $border-color;
    padding-bottom: 4px;
    margin-bottom: 30px;
    margin-top: 60px !important;

    .is-dark-mode & {
      border-color: $border-color--dark;
    }
  }

  h3 {
    font-style: italic;
  }

  p {
    margin-bottom: 25px;
  }

  a {
    color: $body-text-color-bold;
    font-weight: $body-bold-weight;
    text-decoration: underline;

    .is-dark-mode & {
      color: $body-text-color-bold--dark;
    }

    &:hover {
      color: $active-color;

      .is-dark-mode & {
        color: $active-color--dark;
      }
    }
  }
}