.sidebar {
  width: $sidebar-width + $sidebar-gutter-width;

  @media(width: 1024px) {
    width: 160px;
  }

  // Tablets and smaller
  // - Hide sidebar
  @media(max-width: $tablet-breakpoint) {
    display: none;
  }

  // Inner wrapper necessary to make sidebar 'sticky'
  .sidebar__inner {
    height: 100%;
    position: fixed;
  }

  // 'Jason Webb' "logo"
  .name {
    display: block;
    text-align: right;
    font-size: 28px;
    font-weight: 100;
    line-height: 24px;
    width: $sidebar-width;

    background-color: rgba(0, 0, 0, .6);
    color: rgba(255, 255, 255, .9);

    padding: 10px 10px 10px 40px;
    margin-bottom: 30px;

    transition: all .4s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, .8);
    }
  }

  // General menu prototype
  nav {
    margin-right: 10px;
    margin-bottom: 40px;
    text-align: right;

    ul>li>a {
      color: black;
      opacity: .5;
      transition: opacity .1s ease-in-out;

      &:hover,
      &.is-active {
        opacity: 1;
      }
    }
  }

  // Primary page navigation
  .primary-nav {
    ul > li > a {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.75rem;
    }
  }

  .secondary-nav {
    ul > li > a {
      opacity: .4;
    }
  }

  // Search icon + input
  .search {
    margin-right: 10px;
    position: relative;

    .icon {
      cursor: pointer;

      position: absolute;
      right: 0;
      top: 10px;
      z-index: 10;

      font-size: 24px;
      opacity: .4;
      color: black;

      transform: rotate(0deg);

      transition: font-size .2s ease-in-out,
        right .3s ease-in-out,
        opacity .15s ease-in-out,
        transform .15s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    .label {
      display: none;
    }

    .control {
      opacity: 0;
      width: 30px;
      position: absolute;
      top: 0;
      right: 0;

      transition: width .3s ease-in-out,
        opacity .1s ease-in-out;

      .input {
        padding-left: 20px;

        // .is-rounded will be implemented in Bulma 0.6.2
        &.is-rounded {
          border-radius: 100px;
        }

        &:focus,
        &:active {
          box-shadow: 2px 2px 3px rgba(0, 0, 0, .05);
          border-color: rgba(0, 0, 0, .2);
        }
      }
    }

    &.is-active {
      .icon {
        font-size: 18px;
        right: 10px;
        opacity: .3;

        transform: rotate(-180deg);
      }

      .control {
        width: 200px;
        opacity: 1;

        @media(width: 1024px) {
          max-width: 130px;
        }
      }
    }
  }
}