.skip-to-main-link {
  position: absolute;
  left: 15px;
  top: -50px;
  padding: 5px 15px !important;
  background-color: rgba(0,0,0,1);
  color: white;
  transition: top .2s linear;
}

  .skip-to-main-link:focus {
    top: 15px;
  }