.table-of-contents,
.box {
  box-shadow: none;
  border-radius: 0;
  padding: 25px;
  margin: 40px 0;
  background-color: $light-gray-background-color;

  h2,
  h4,
  .heading {
    margin: 0 0 30px 0 !important;
    padding: 0 !important;
    border: 0 !important;
    font-size: 2.0rem !important;
    font-weight: 600 !important;
  }
}