.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  margin: 0 auto;
  padding: 0;

  width: calc(100% - 16px);
  max-width: 1920px;

  list-style: none;

  @media screen and (max-width: $small-desktop-breakpoint) {
    width: 100%;
  }

  li {
    flex: 1;
    flex-basis: calc(100% / 2 - 4px);

    max-width: calc(100% / 2 - 4px);
    margin: 0 8px 8px 0;
    padding: 0;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    // For phones - use 1-column layout
    @media screen and (max-width: $tablet-breakpoint) {
      flex-basis: calc(100%);
      max-width: calc(100%);
      margin-right: 0;
    }
  }

  .tile {
    position: relative;
    height: 550px;
    overflow: hidden;

    @media screen and (max-width: $small-desktop-breakpoint) {
      height: 340px;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      height: 450px;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      height: 375px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 2;
      transition: all .2s linear;
    }

    .title {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      padding: 10%;
      margin-bottom: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;

      &:before {
        background: rgba(0,0,0,1);
        content: '';

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;

        transition: opacity .3s linear;
      }

      h2 {
        z-index: 1;
        opacity: 0;
        transition: all .15s ease-in-out;

        @media screen and (max-width: $tablet-breakpoint) {
          opacity: 1;
        }

        span {
          font-size: 2.0rem;
          line-height: 3.0rem;
          color: black;
          background-color: white;
          box-shadow: 0 0 0 8px white;
          box-decoration-break: clone;
          transition: all .2s linear;

          @media screen and (max-width: $mobile-breakpoint) {
            font-size: 1.5rem;
            line-height: 2.0rem;
          }

          small {
            font-size: 1.6rem;
            opacity: .6;
            text-shadow: none;

            @media screen and (max-width: $mobile-breakpoint) {
              font-size: 1.2rem;
              line-height: 1.8rem;
            }
          }
        }
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transition: transform .5s ease-in-out;

      // For phones - use 1-column layout
      @media screen and (max-width: $tablet-breakpoint) {
        height: 100%;
        width: 100%;
      }
    }

    &:hover,
    &:focus {
      box-shadow: none;

      .title {
        &:before {
          opacity: .6;
        }

        h2 {
          opacity: 1;
        }
      }

      img {
        transform: scale(1.05);
      }
    }

    &:focus {
      outline-offset: 4px;
      box-shadow: none;

      &:before {
        outline: 6px dashed white;
        outline-offset: -15px;
      }
    }
  }
}