body {
  & > header,
  & > main,
  #main {
    position: relative;
    left: 0;
    transition: left .3s ease-in-out;

    &:focus {
      outline: none;
    }
  }

  &.mobile-menu-is-open {
    height: 100vh;
    overflow: hidden;

    & > header,
    & > main,
    #main {
      left: $mobile-menu-width;
      opacity: .4;
    }
  }
}