body {
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  line-height: 2.15rem;
  background-color: rgba(0,0,0,.005);

  & > header,
  & > main,
  #main {
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;

    &.is-mobile-menu-open {
      left: $mobile-menu-width;
      opacity: .4;
    }

    &:focus {
      outline: none;
    }
  }
}