body {
  font-size: 18px;

  & > header,
  & > main {
    position: relative;
    left: 0;
    transition: all .3s ease-in-out;

    &.is-mobile-menu-open {
      left: $mobile-menu-width;
      opacity: .4;
    }
  }
}