:root {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.0rem;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

h1 {
  font-size: 2.2rem !important;
  font-weight: 500 !important;
  color: $heading-text-color !important;
}

strong {
  color: $body-text-color;
}

ul,
ol {
  margin: 1rem 0 .5rem 3rem;

  li {
    padding-left: .2rem;
    margin-bottom: 5px;

    // Second-level lists
    ul,
    ol {
      margin-top: 5px;
    }

    // Make inner <ol>s use lowercase letters (a, b, c, etc)
    ol {
      list-style: lower-alpha;
    }
  }
}

ul {
  list-style: disc;
}

ul + p,
ol + p {
  margin-top: 20px;
}

b, strong {
  font-weight: 500;
  color: black;
}