h1 {
  font-size: 22px !important;
  font-weight: 500 !important;
  color: $heading-text-color !important;
}

strong {
  color: $body-text-color;
}

.section-break {
  overflow: hidden;
  text-align: center;
  border: 0 !important;
  padding-top: 10px;

  &:before,
  &:after {
    background-color: rgba(0, 0, 0, .1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 1em;
    margin-left: -50%;
  }

  &:after {
    left: 1em;
    margin-right: -50%;
  }

  span {
    text-transform: uppercase;
    color: rgba(0, 0, 0, .4);
  }
}