.about-page {
  .tag.is-light {
    color: rgba(0,0,0,.6);
    font-size: 16px;
    line-height: .5rem;
  }

  //==================================================================================================
  //  Personal portrait
  //==================================================================================================
  .portrait {
    @media(max-width: $mobile-breakpoint) {
      width: 100%;
      margin-bottom: 30px;
    }
  }

  //==================================================================================================
  //  List of highlights
  //==================================================================================================
  .highlights {
    @media(max-width: $mobile-breakpoint) {
      padding: 10px 0;
      margin-left: 40px;
    }
  }


  //==================================================================================================
  //  Logo box
  //==================================================================================================
  .logos {
    background-color: $light-gray-background-color;
    border: 0;

    padding: 20px;
    margin-top: 50px;

    h2 {
      margin-top: 10px !important;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
      color: $body-text-color;
      border: 0;
      padding: 0;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline;

        a {
          display: inline-block;
          margin: 10px;
          height: 60px;

          @media(max-width: $tablet-breakpoint) {
            max-width: 100%;
            height: auto;
            margin: 20px 10px;
          }
        }
      }
    }
  }
}