.contact-page {

    // Tablets and smaller
    // - Increase horizontal padding to line content up with mobile controls
    @media(max-width: $tablet-breakpoint) {
        padding: 0 $tablet-horizontal-padding;
    }
    
    .form {
        margin-top: 30px;

        @media(max-width: $tablet-breakpoint) {
            margin-top: 50px;
        }

        .field {
            margin: 15px 0;

            .input {
                width: 60%;
            }

            .button {
                margin-top: 20px;
            }
        }        
    }
}