.contact-page {
  .message {
    margin-top: 0;
    font-size: 18px;

    p {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .form {
    width: 60%;
    margin-top: 30px;

    // Mobile - make full-width
    @media(max-width: $mobile-breakpoint) {
      width: 100%;
    }

    .field {
      margin: 15px 0;

      // Labels
      .label {
        & + p {
          display: none;
        }
      }

      // Icons embedded within text inputs
      .icon {
        font-size: 24px;
        width: auto;
        height: auto;

        &.is-left {
          left: 7px;
          top: 5px;
        }
      }

      // "Name" and "Email" fields
      .input {
        width: 60%;

        // "Required" box next to fields when input is invalid
        & + span {
          display: inline-block;
        }
      }

      // "Message" field
      .textarea {
        & + span {
          display: inline-block;
          margin-left: 0;
          margin-top: 10px;
        }
      }

      // Invalid fields get red border
      .wpcf7-not-valid {
        border-color: hsl(348, 80%, 61%);
      }

      // All "Required" boxes next to fields
      .wpcf7-not-valid-tip {
        background-color: hsl(348, 100%, 61%);
        margin-left: 10px;
        color: white;
        padding: 5px 15px;
      }

      .button {
        margin-top: 20px;
      }
    }
  }

  // Hide the form when message is successfully sent so that only the output message is shown
  .sent {
    h1,
    .title,
    .title + p,
    .form {
      display: none;
    }
  }

  // Result messages
  .wpcf7-response-output {
    margin: 0;
    padding: 10px 20px;
    border: 0 !important;

    &.wpcf7-validation-errors {
      background-color: hsl(48, 100%, 67%);
    }

    &.wpcf7-mail-sent-ok {
      background-color: hsl(141, 71%, 37%);
      color: white;
    }
  }
}