.home-page {
  .introduction {
    margin-top: -10px;
    margin-bottom: 50px;
    padding: 30px;
    background-color: rgba(0,0,0,.03);
    font-size: 18px;
    color: rgba(0,0,0,.6);

    @media screen and (max-width: $tablet-breakpoint) {
      width: 90%;
    }

    @media screen and (max-width: $mobile-breakpoint) {
      padding: 20px;
      margin-top: -20px;
      margin-bottom: 40px;

      ul {
        margin-left: 25px;

        li {
          padding-left: 0;
        }
      }
    }

    p {
      margin-bottom: 10px;
      color: rgba(0,0,0,.6);
    }
  }

  .see-more-wrapper {
    background-color: rgba(0,0,0,.9);
    text-align: center;
    padding: 70px 0;
    margin: 0 auto;

    width: 100%;
    max-width: 1920px;

    .is-ghost {
      font-size: 18px;
      border: 1px solid #fff;
      color: #fff;
      padding: 10px 20px;
      opacity: .8;

      &:hover,
      &:focus {
        opacity: 1;
        text-decoration: underline;
      }

      &:focus {
        box-shadow: none;
        outline: 2px dashed #fff;
        outline-offset: 7px;
      }
    }
  }
}