.results-page {
    @media(max-width: $tablet-breakpoint) {
        background-color: $secondary-color;
        padding-top: 15px;
    }

    .media {
        padding: 25px 20px 5px 0;

        // Tablets and smaller
        // - Tighten all padding
        @media(max-width: $tablet-breakpoint) {
            padding: 0;

            border: 1px solid rgba(0,0,0,.15);
            margin: 15px $tablet-horizontal-padding;
            box-shadow: 2px 2px 3px rgba(0,0,0,.05);
            background-color: white;
        }

        // Consecutive media objects
        & + .media {
            // Tablets and smaller
            // - Eliminate top margin for tighter packing
            @media(max-width: $tablet-breakpoint) {
                margin-top: 1px;
            }
        }
    
        a {
            text-decoration: none;
        }
    
        &:first-of-type {
            padding-top: 0;
            margin-top: 0;
        }
    
        &:hover {
            .media-left {
                .image {
                    img {
                        filter: grayscale(0);
                    }
                }
            }
        }
    
        .media-left {
            margin-left: 0;
            margin-bottom: 0 !important;
            
            @media(max-width: $tablet-breakpoint) {
                margin-right: 15px;
            }
    
            .image {
                img {
                    display: block;
                    filter: grayscale(.8);
        
                    transition: filter .25s ease-in-out;
        
                    width: 175px;
                    height: 140px;

                    @media(max-width: $tablet-breakpoint) {
                        filter: grayscale(.4);
                        margin: 2px;
                    }
                }
            }
        }
    
        .media-content {
            .title {
                margin-bottom: 10px;

                @media(max-width: $tablet-breakpoint) {
                    margin-top: 20px;
                    padding-right: 20px;

                    font-size: 1.8rem;
                }

                @media(max-width: $mobile-breakpoint) {
                    margin-top: 15px;

                    font-size: 1.6rem;
                    line-height: 1.9rem;
                }
    
                a {
                    color: $heading-text-color;
                    font-weight: 500;

                    @media(max-width: $tablet-breakpoint) {
                        display: block;
                        opacity: .7;
                    }
                }
            }
    
            .excerpt {
                @media(max-width: $tablet-breakpoint) {
                    display: none;
                }

                .date {
                    font-style: italic;
                }
    
                color: rgba(0,0,0,.5);
            }
        }
    }
}