.resume-page {
  .controls {
    display: flex;
    align-items: flex-end;

    // Stack columns on mobile
    @media screen and (max-width: $mobile-breakpoint) {
      display: block;
    }

    .column {
      flex: 1 auto;
      padding: 0;

      // Center content on mobile
      @media screen and (max-width: $mobile-breakpoint) {
        text-align: center;
      }

      &:last-of-type {
        text-align: right;
        
        @media screen and (max-width: $mobile-breakpoint) {
          margin-top: 40px;
          text-align: center;
        }
      }
    }

    .version {
      border: 0;
  
      .options {
        margin-top: 10px;
  
        input {
          display: none;
  
          &:checked + label {
            background-color: rgba(0,0,0,.7);
            color: #fff;
          }
        }
  
        label {
          display: inline-block;
          cursor: pointer;
          background-color: #f5f5f5;
          padding-left: 1rem;
          padding-right: 1rem;
          margin: 0;
          font-size: 16px;
          line-height: 2;
          color: rgba(0,0,0,.7);
          transition: .2s all ease-in-out;
  
          &:first-of-type {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
  
          &:last-of-type {
            margin-left: -5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }


  //===========================================================================================
  //  Section
  //===========================================================================================
  section {
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: 0;
    }

    h2 {
      font-size: 24px;

      // Tablets and smaller
      // - Increase weight of all headings
      @media(max-width: $tablet-breakpoint) {
        font-weight: 700;
      }
    }
  }

  //===========================================================================================
  //  Skills section
  //===========================================================================================
  #skills {
    .column:first-of-type {
      border-right: 4px solid white;
    }

    .skill-group {
      background-color: $light-gray-background-color;
      margin-bottom: 4px;
      padding: 25px 0 !important;

      @media(max-width: $tablet-breakpoint) {
      }

      h5 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 15px 25px;

        border-bottom: 1px solid rgba(0, 0, 0, .08);

        &:first-of-type {
          padding-top: 10px;
        }

        &:last-of-type {
          border: 0;
        }

        ul {
          padding: 5px 0 5px 15px;

          li {
            color: rgba(0, 0, 0, .4);
          }
        }
      }

      small {
        opacity: .7;
      }
      
      .progress {
        width: 75px;
        border-radius: 0;
        margin: 0;
        margin-top: 6px;
      }
    }
  }

  //===========================================================================================
  //  Education and experience items
  //===========================================================================================
  .job,
  .degree {
    .title {
      font-size: 18px;
      font-weight: 400;

      margin-bottom: 3px;
      margin-top: 40px;
    }

    .details {
      margin: 0;
      opacity: .5;
    }

    .highlights {
      margin-top: 15px;

      @media(max-width: $tablet-breakpoint) {
        margin-left: 35px;
      }
    }
  }

  .year-list {
    list-style: none;
    margin-top: 30px;
    margin-left: 0;
    padding-left: 40px;

    @media(max-width: $tablet-breakpoint) {
      padding-left: 0;
    }

    li {
      padding: 0;
    }

    .year {
      display: inline-block;
      width: 60px;
      font-weight: bold;
    }
  }
}