.resume-page {
  .message {
    margin-top: 0 !important;
    padding: 5px 20px;
  }

  // Flag class to hide items that only apply to web resume (such as specific Mission)
  .is-web-only {
    display: none;
  }

  //===========================================================================================
  //  Section
  //===========================================================================================
  section {
    padding: 40px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .06);

    // Tablets and smaller
    // - Add horizontal padding to line up with mobile controls
    @media(max-width: $tablet-breakpoint) {
      padding: 40px $tablet-horizontal-padding;
    }

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: 0;
    }

    h2 {
      font-size: 24px;

      // Tablets and smaller
      // - Increase weight of all headings
      @media(max-width: $tablet-breakpoint) {
        font-weight: 700;
      }
    }
  }

  //===========================================================================================
  //  Controls - 'web only' checkbox and download button
  //===========================================================================================
  .controls {
    border: 0;
    padding-bottom: 15px;

    // Tablet sizes and below
    // - Add horizontal padding
    @media(max-width: $tablet-breakpoint) {
      padding-left: $tablet-horizontal-padding;
      padding-right: $tablet-horizontal-padding;
    }

    .download {
      margin: 0; // remove padding added by Bulma

      .icon {
        @media(max-width: $tablet-breakpoint) {
          font-size: 20px;
        }

        @media(max-width: $mobile-breakpoint) {
          font-size: 28px;
        }
      }

      // Mobile devices and smaller
      // - Make full width
      // - Increase padding (especially vertical)
      @media(max-width: $mobile-breakpoint) {
        width: 100%;
        padding: 25px;
      }
    }

    // Custom checkbox ----------------------------------------------------------------------
    .custom-checkbox {
      // border: 1px solid rgba(0,0,0,.15);
      border-radius: 3px;
      padding: 6px 20px 6px 13px;
      padding-left: 0;
      margin: 0;
      font-weight: normal;
      cursor: pointer;
      color: rgba(0, 0, 0, .5);
      transition: all .1s ease;

      // Mobile devices and below
      // - Make full width
      // - Add bototm margin to seperate download link below
      // - Increase vertical padding to match donwload link
      @media(max-width: $mobile-breakpoint) {
        width: 100%;
        margin-bottom: 20px;
        padding-top: 13px;
        padding-bottom: 13px;
      }

      .box {
        float: left;
        position: relative;
        margin: 0;
        margin-right: 10px;
        margin-top: 5px;
        padding: 0;

        width: 15px;
        height: 15px;

        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: 4px;

        box-shadow: none;

        background-color: transparent;

        &:after {
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 0;
          height: 0;
          transition: all .2s ease;
          content: '';
          background-color: rgba(0, 0, 0, .05);
          border-radius: 50%;
          text-align: center;
          font-family: 'LineAwesome';
          color: white;
        }
      }

      &:hover {
        // border-color: rgba(0,0,0,.3);
        // box-shadow: 2px 2px 2px rgba(0,0,0,.03);
        color: rgba(0, 0, 0, .7);

        .box:after {
          width: 100%;
          height: 100%;
          border-radius: 3px;
        }
      }

      input[type='checkbox'] {
        display: none;

        &:checked+.box {
          &:before {
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            color: white;
            font-family: 'FontAwesome';
            font-size: 10px;
            font-weight: bold;
            line-height: .93rem;
            background-color: rgba(0, 0, 0, .4);
            content: '\f17b';
          }
        }
      }
    }
  }

  //===========================================================================================
  //  Skills section
  //===========================================================================================
  #skills {
    .column:first-of-type {
      border-right: 4px solid white;

      // Tablets and smaller
      // - Remove border
      @media(max-width: $tablet-breakpoint) {
        border: 0;
      }
    }

    .skill-group {
      background-color: $light-gray-background-color;
      margin-bottom: 4px;
      padding: 25px 0 !important;

      @media(max-width: $tablet-breakpoint) {
        margin-left: -$tablet-horizontal-padding;
        margin-right: -$tablet-horizontal-padding;
      }

      h5 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 15px 25px;

        border-bottom: 1px solid rgba(0, 0, 0, .08);

        &:first-of-type {
          padding-top: 10px;
        }

        &:last-of-type {
          border: 0;
        }

        ul {
          padding: 5px 0 5px 15px;

          li {
            color: rgba(0, 0, 0, .4);
          }
        }
      }

      .progress {
        width: 75px;
        border-radius: 0;
        margin: 0;
        margin-top: 6px;

        @media(max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
  }

  //===========================================================================================
  //  Education and experience items
  //===========================================================================================
  .job,
  .degree {
    padding-left: 40px;

    @media(max-width: $tablet-breakpoint) {
      padding-left: 0;
    }

    &__title {
      font-size: 18px;
      font-weight: 400;

      margin-bottom: 3px;
      margin-top: 40px;
    }

    &__details {
      margin: 0;
      opacity: .5;
    }

    &__highlights {
      margin-top: 15px;

      @media(max-width: $tablet-breakpoint) {
        margin-left: 35px;
      }
    }
  }

  .year-list {
    display: table;
    border-collapse: separate;
    list-style: none;
    margin-top: 30px;
    margin-left: 0;
    padding-left: 40px;

    @media(max-width: $tablet-breakpoint) {
      padding-left: 0;
    }

    li {
      padding: 0;
      display: table-row;

      .year {
        display: table-cell;
        width: 60px;
        font-weight: bold;

        @media(max-width: $tablet-breakpoint) {
          padding: 5px 0;
        }

        @media(max-width: $mobile-breakpoint) {
          padding: 8px 0;
        }
      }

      .details {
        display: table-cell;
      }
    }


  }
}