.work-page {
  .tabs-wrapper {
    text-align: center;
  }

  .tabs {
    display: inline-block;
    margin: 0 auto 40px auto;
    padding: 0 100px;
    overflow: visible;
    white-space: normal;

    @media(max-width: $mobile-breakpoint) {
      padding: 0 20px;
    }

    [role="tab"] {
      display: inline-block;
      margin: 5px 4px;
      padding: 8px 20px;
      height: auto;
      cursor: pointer;
      border: 2px solid $body-text-color;
      border-radius: 100px;

      font-size: $body-font-size;
      color: $body-text-color;
      background-color: $background-color;
      transition: border .1s linear;

      .is-dark-mode & {
        border-color: $body-text-color--dark;
        color: $body-text-color--dark;
        background-color: $background-color--dark;
      }

      &[aria-selected="true"] {
        font-weight: $body-bold-weight;
        color: $background-color;
        background-color: $body-text-color-bold;
        text-decoration: underline;

        .is-dark-mode & {
          color: $background-color--dark;
          background-color: $body-text-color-bold--dark;
        }
      }

      &:hover:not([aria-selected="true"]),
      &:focus:not([aria-selected="true"]) {
        border-color: $body-text-color-bold;
        color: $body-text-color-bold;
        text-decoration: underline;

        .is-dark-mode & {
          border-color: $body-text-color-bold--dark;
          color: $body-text-color-bold--dark;
        }
      }

      &:focus {
        outline-offset: 5px;
      }
    }
  }

  [role="tabpanel"] {
    display: none;

    &.is-active {
      display: block;
    }
  }
}