.work-page {
  .tabs {
    display: block;
    padding: 0 20px;
    overflow: visible;
    white-space: normal;

    [role="tab"] {
      display: inline-block;
      margin: 0 5px 10px 0;
      cursor: pointer;
      border: 0;
      font-size: 18px;
      color: rgba(0,0,0,.7);

      &[aria-selected="true"] {
        background-color: rgba(0, 0, 0, .6);
        color: #fff;
      }
    }
  }

  [role="tabpanel"] {
    display: none;

    &.is-active {
      display: block;
    }

    .tiles {
      margin-top: 50px;
    }
  }
}