// Add spacing to floated images
.is-pulled-right,
.alignright {
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    float: none;
    margin: 20px 0;
  }
}

.is-pulled-left,
.alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 100%;
    float: none;
    margin: 20px 0;
  }
}


/**
  Improved SR only classes from Gael Poupard
  - Source: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
*/
.visually-hidden {
  border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.visually-hidden-focusable:focus,
.visually-hidden-focusable:active {
  clip: auto !important;
  clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.has-border {
  border: 1px solid rgba(0,0,0,.3);
}