$content-width-desktop: 1000px;

$hamburger-box-width: 60px;
$mobile-menu-width: 250px;

$body-text-color: rgba(0,0,0,0.65);
$heading-text-color: rgba(0,0,0,0.7);

$light-gray-background-color: rgba(0,0,0,.02);
$dark-gray-background-color: rgba(0,0,0,.9);

// Responsive breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1023px;
$small-desktop-breakpoint: 1366px;

$tablet-horizontal-padding: 25px;

$media-breakout-offset: 50px;