// Key element widths
$sidebar-width: 131px;
$sidebar-gutter-width: 40px;
$hamburger-box-width: 100px;

// Font colors
$body-text-color: rgba(0,0,0,0.5);
$heading-text-color: rgba(0,0,0,0.7);

// Background colors
$light-gray-background-color: rgba(0,0,0,.02);
$dark-gray-background-color: rgba(0,0,0,.7);
$darker-gray-background-color: rgba(0,0,0,.9);

// Breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1023px;
$desktop-breakpoint: 1216px;

// Varying padding
$mobile-horizontal-padding: 10px;
$tablet-horizontal-padding: 25px;