//===================================================
//  Colors
//===================================================
$background-color: white;
$secondary-color: rgba(0,0,0,.02);
$border-color: rgba(0,0,0,.2);
$active-color: #3273dc;
$error-color: rgba(200,0,0,1);

$background-color--dark: black;
$secondary-color--dark: rgba(255,255,255,.06);
$border-color--dark: rgba(255,255,255,.2);
$active-color--dark: #ffbb00;

//===================================================
//  Typography
//===================================================
$body-font-family: 'Open Sans', sans-serif;
$body-text-color: rgba(0,0,0,.6);
$body-text-color-bold: black;
$body-font-size: 2.0rem;
$body-line-height: 170%;
$body-regular-weight: 500;
$body-bold-weight: 700;

$heading-text-color: black;
$heading-weight: 700;

$body-text-color--dark: rgba(255,255,255,.55);
$body-text-color-bold--dark: white;
$heading-text-color--dark: white;

//===================================================
//  Breakpoints
//===================================================
$content-width-desktop: 1000px;

// Responsive breakpoints
$mobile-breakpoint: 768px;
$tablet-breakpoint: 1023px;
$small-desktop-breakpoint: 1366px;

$tablet-horizontal-padding: 25px;

$media-breakout-offset: 50px;


$hamburger-box-width: 60px;
$mobile-menu-width: 250px;